name: 部署文档

on:
  repository_dispatch:
  workflow_call:  
  push:
    branches:
      # make sure this is the branch you are using
      - main

env:
  GITHUB_NAME: arthurfsy2
  GITHUB_EMAIL: fsyflh@gmail.com

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # if your docs needs submodules, uncomment the following line
          # submodules: true

      - name: 设置Python版本
        id: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
          cache-dependency-path: 'src/.vuepress/public/scripts/requirements.txt'

      - name: 安装python依赖
        run: |
          pip install -r src/.vuepress/public/scripts/requirements.txt

      - name: 生成图云
        run: |
          python src/.vuepress/public/scripts/wordcloud2Svg.py

      - name: 提交更新图云
        run: |
          git config --local user.email "${{ env.GITHUB_EMAIL }}"
          git config --local user.name "${{ env.GITHUB_NAME }}"
          git add .
          git commit -m "已更新 src/.vuepress/public/assets/img/wordcloud.svg" || echo "nothing to commit"
          git push || echo "nothing to push"

      - name: 更新运动记录
        run: |
          python src/.vuepress/public/scripts/garmin_recap/garmin_recap.py

      - name: 安装 pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true
          version: 8


      - name: 设置 Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: 构建文档
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: |-
          pnpm run docs:build
          > src/.vuepress/dist/.nojekyll

      - name: 部署文档
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # This is the branch where the docs are deployed to
          branch: gh-pages
          folder: src/.vuepress/dist